@import "tailwindcss";

.click-pop {
    transform: scale(1.7) !important;
}

::selection {
  background-color: #FCD34D; /* Tailwind's yellow-300 */
  color: #000000; /* Black text */
}

body.hide-cursor * {
  cursor: none !important;
}


