@import "tailwindcss";

.click-pop {
    transform: scale(1.7) !important;
}

::selection {
    background-color: lightseagreen;
  color: #000000; 
  text-decoreation: bolder;
}

body.hide-cursor * {
  cursor: none !important;
}


