@import "tailwindcss";

.click-pop {
    transform: scale(1.7) !important;
}

::selection {
  background-color: #10B981;
  color: #000000; /* Black text */
}

body.hide-cursor * {
  cursor: none !important;
}


